extends layout

block content 
  .w3-container.w3-margin.w3-border
    .w3-container.w3-blue
        h3 Registo de novo utilizador:
    form.w3-container(action='/user/register' method='POST')
        label nome:
        input.w3-input(type="text" name="nome") 
        label email:
        input.w3-input(type="text" name="email")
        label password:
        input.w3-input(type="password" name="password")
        label nif:
        input.w3-input(type="text" name="nif")
        label nCC:
        input.w3-input(type="text" name="nCC")
        label dataN:
        input.w3-input(type="date" name="dataN")
        label saldo:
        input.w3-input(type="number" name="saldo")
        input.w3-btn.w3-blue(type="submit" value="Enviar")

